.layout__splash_header
{
    grid-area: sp-header;
}

.layout__splash_Man
{
    grid-area: sp-Man;
}

.layout__splash_BK
{
    grid-area: sp-BK;
}

.layout__splash_QN
{
    grid-area: sp-QN;
}

.layout__splash_SI
{
    grid-area: sp-SI;
}

.layout__splash_BX
{
    grid-area: sp-BX;
}


.layout__splash_FOOT
{
    grid-area: sp-FT;
}



.layout__splash_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75vh auto 75vh;
    grid-template-areas:
        "sp-header sp-header"
        "sp-BK sp-QN"
        "sp-SI sp-BX"
        "sp-Man sp-Man"
        "sp-FT sp-FT" 
    ;
}
