.HomeDiv {
  color: black;
  position: absolute;
  left: 3vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
} 

.header {
  width: 100%;
  background-color: black;
}

.header ul {
  text-align:end;
}

.header ul li {
  list-style: none;
  display: inline-block;
}

.navele {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 25px;;
}

.navele:hover {
 background-color: #211b4385;
 cursor: pointer;
}